<div>
    <h2 id="page-heading">
        <span jhiTranslate="txcbApp.xocdia.home.title">Xocdias</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-xocdia" [routerLink]="['/xocdia/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="txcbApp.xocdia.home.createLabel">
            Create a new Taixiu
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="xocdias?.length === 0">
        <span jhiTranslate="txcbApp.xocdia.home.notFound">No xocdias found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="xocdias && xocdias.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="opentime"><span jhiTranslate="txcbApp.xocdia.opentime">Opentime</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="endtime"><span jhiTranslate="txcbApp.xocdia.endtime">Endtime</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="txcbApp.xocdia.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="result"><span jhiTranslate="txcbApp.xocdia.result">Result</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let xocdia of xocdias ;trackBy: trackId">
                    <td><a [routerLink]="['/xocdia', xocdia.id, 'view']">{{ xocdia.id }}</a></td>
                    <td>{{ xocdia.opentime | date:'medium' }}</td>
                    <td>{{ xocdia.endtime | date:'medium' }}</td>
                    <td>{{ xocdia.status }}</td>
                    <td>{{ xocdia.result }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/xocdia', xocdia.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/xocdia', xocdia.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(xocdia)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="xocdias && xocdias.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
