<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-xocdia-heading" jhiTranslate="txcbApp.xocdia.home.createOrEditLabel">Create or edit a Xocdia</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="txcbApp.xocdia.opentime" for="field_opentime">Opentime</label>
                    <div class="d-flex">
                        <input id="field_opentime" type="datetime-local" class="form-control" name="opentime" formControlName="opentime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="txcbApp.xocdia.endtime" for="field_endtime">Endtime</label>
                    <div class="d-flex">
                        <input id="field_endtime" type="datetime-local" class="form-control" name="endtime" formControlName="endtime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="txcbApp.xocdia.status" for="field_status">Status</label>
                    <input type="number" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="txcbApp.xocdia.result" for="field_result">Result</label>
                    <input type="text" class="form-control" name="result" id="field_result"
                           formControlName="result"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
