<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="txRank">
            <h2><span jhiTranslate="txcbApp.txRank.detail.title">Tx Rank</span> {{ txRank.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="txcbApp.txRank.loginname">Loginname</span></dt>
                <dd>
                    <span>{{ txRank.loginname }}</span>
                </dd>
                <dt><span jhiTranslate="txcbApp.txRank.amount">Amount</span></dt>
                <dd>
                    <span>{{ txRank.amount }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tx-rank', txRank.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
