<div>
    <h2 id="page-heading">
        <span jhiTranslate="txcbApp.xocdiaRecord.home.title">Xocdia Records</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-xocdia-record"
                [routerLink]="['/xocdia-record/new']">
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="txcbApp.xocdiaRecord.home.createLabel">
            Create a new Xocdia Record
            </span>
        </button>
    </h2>

    <form class="filter-group" [formGroup]="filterForm" (ngSubmit)="onSubmit(filterForm.value)">
        <div class="filter-form">
            <div class="filter-item">
                <label for="login-name" jhiTranslate="global.field.login-name"></label>
                <input class="form-control" type="text" id="login-name" formControlName="loginName">
            </div>
            <div class="filter-item">
                <label for="issue" jhiTranslate="global.field.issue"></label>
                <input class="form-control" type="text" id="issue" formControlName="issue">
            </div>
            <div class="filter-item">
                <label for="type" jhiTranslate="global.field.type"></label>
                <input class="form-control" type="text" id="type" formControlName="type">
            </div>
            <div class="filter-item">
                <label for="status" jhiTranslate="global.field.status"></label>
                <input class="form-control" type="text" id="status" formControlName="status">
            </div>
            <div class="filter-item">
                <label for="user-type" jhiTranslate="global.field.user-type"></label>
                <input class="form-control" type="text" id="user-type" formControlName="userType">
            </div>
        </div>
        <div class="filter-form">
            <div class="filter-item">
                <label for="start-time" jhiTranslate="global.field.start-time"></label>
                <div class="form-group d-flex align-items-center">
                    <div class="input-group mr-2">
                        <input class="form-control" placeholder="yyyy-mm-dd" id="start-time" formControlName="startDate"
                               ngbDatepicker #s="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="s.toggle()" type="button">
                                <fa-icon [icon]="faCalendar"></fa-icon>
                            </button>
                        </div>
                    </div>
                    <ngb-timepicker [seconds]="true" formControlName="startTime"></ngb-timepicker>
                </div>
            </div>
            <div class="filter-item">
                <label for="end-time" jhiTranslate="global.field.end-time"></label>
                <div class="form-group d-flex align-items-center">
                    <div class="input-group mr-2">
                        <input class="form-control" placeholder="yyyy-mm-dd" id="end-time" formControlName="endDate"
                               ngbDatepicker #e="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="e.toggle()" type="button">
                                <fa-icon [icon]="faCalendar"></fa-icon>
                            </button>
                        </div>
                    </div>
                    <ngb-timepicker [seconds]="true" formControlName="endTime"></ngb-timepicker>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-dark">
            <fa-icon icon="search"></fa-icon>
            <span jhiTranslate="entity.action.search"></span>
        </button>
    </form>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="xocdiaRecords?.length === 0">
        <span jhiTranslate="txcbApp.xocdiaRecord.home.notFound">No xocdiaRecords found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="xocdiaRecords && xocdiaRecords.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="xocdiaId"><span>Lượt xổ</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    
                    <th scope="col" jhiSortBy="loginname"><span
                        jhiTranslate="txcbApp.xocdiaRecord.loginname">Loginname</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="betamount"><span
                        jhiTranslate="txcbApp.xocdiaRecord.betamount">Betamount</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="winamount"><span
                        jhiTranslate="txcbApp.xocdiaRecord.winamount">Winamount</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="typed"><span jhiTranslate="txcbApp.xocdiaRecord.typed">Typed</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="status"><span jhiTranslate="txcbApp.xocdiaRecord.status">Status</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="bettime"><span jhiTranslate="txcbApp.xocdiaRecord.bettime">Bettime</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="result"><span jhiTranslate="txcbApp.xocdiaRecord.result">Result</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                
                    <th scope="col" jhiSortBy="refundamount"><span jhiTranslate="txcbApp.xocdiaRecord.refundamount">Refundamount</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let xocdiaRecord of xocdiaRecords ;trackBy: trackId">
                    <td><a [routerLink]="['/xocdia-record', xocdiaRecord.id, 'view']">{{ xocdiaRecord.id }}</a></td>
                    <td>{{ xocdiaRecord.xocdiaId }}</td>
                    <td>{{ xocdiaRecord.loginname }}</td>
                    <td>{{ xocdiaRecord.betamount }}</td>
                    <td>{{ xocdiaRecord.winamount }}</td>
                    <td>{{ (xocdiaRecord.typed ===1 ? 'Chẵn' : 'Lẻ') }}</td>
                    <td>{{ xocdiaRecord.status ===0 ?'Pending':'Finished' }}</td>
                    <td>{{ xocdiaRecord.bettime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                    <td>{{ xocdiaRecord.result }}</td>
                    
                    <td>{{ xocdiaRecord.refundamount }}</td>
                    
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/xocdia-record', xocdiaRecord.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/xocdia-record', xocdiaRecord.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(xocdiaRecord)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="xocdiaRecords && xocdiaRecords.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage"
                            [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                            (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
